*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
    
}

body{
    background-color: #E5E5E5;
}


/* header style */
.header{
    background-color:  #562EFF;
    padding: 26px;
    
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.header nav h3> img{
    width: 42px;
    height: 51px;
}

.list-style{
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
}

.list-style li> a{
    text-decoration: none;
    color: #FFFFFF;
    
}



hr{
    color: #D1D1D1;
    margin: 30px;
    border: 1px solid #D1D1D1;
    

}

p{
    font-size: 18px;
    font-weight: 500;
    color: black;
}

/* PLayers style */

.section-title{
    margin: 30px 2px;
    padding: 0 50px;
    font-weight: 500;
    font-size: 24px;
    color: #562EFF;
}

.players{
    margin: 36px 190px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    background: #FFFFFF;
    width: 900px;
    height: 679px;
}


.players-banner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:30px ;
    
    
}

.players-banner .player-name> img{
    width: 56px;
    height: 56px;
}

.player-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
}

#player-4{
    padding-left: 40px;
}
#player-5{
    padding-left: 40px;
}
#player-6{
    padding-right: 20px;
}

/* blogs style */

.blogs{
    margin: 30px 30px;
    margin-bottom: 70px;
}
#blog-title{
    margin: 30px 20px;
    font-weight: 500;
    font-size: 24px;
    color: blue;
}

.blog{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
    justify-content: space-around;
    grid-column-gap: 80px;
}

#blog-flex{
    display: flex;
    gap: 16px;
}

.blog-title{
    font-size: 20px;
}

.blog-description{
    font-size: 16px;
}
.blog-description a{
    text-decoration: none;
    color: #562EFF;
}

.blogs .blog-details> img{
    width: 177px;
    height: 117px;
}

/* course style */

.course{
    width: 900px;
    height: 350px;
    border: 1px solid white;
    background: white;
    border-radius: 5px;
}

.course .course-details> img{
    width: 224px;
    height: 104px;
}

.course a{
    text-decoration: none;
    color: #ED6B4F;

}
.course-banner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 1px 0 50px;
}



.rating{
    display: flex;
    margin: 10px 0;
    align-items: center;
    margin-top: 10px;
}

.number{
    margin-right: 25px;
    padding-left: 31px;
    font-size: 15px;
    color: #A2A2A2;
}


.filled{
    color: #FFC014;
}

.empty{
    color: gray;
}

.clock{
    border: 1px solid #FFE4E8;
    width: 75px;
    background-color:#FFE4E8 ;
    border-radius: 15px;
    font-size: 15px;
    color: #FF4A60;
    text-align: center;
    padding: 0 1px;
}



